<!DOCTYPE html>
<html lang="en">

<head>
	<title>Galaxy || Login</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css" />
	<link href="../css/styles.css" rel="stylesheet" />
</head>

<body class="tinted-image">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header"></div>
		</div>
	</nav>
	<div class="container-fluid">
	<div class="row">
		<!-- https://getbootstrap.com/docs/3.3/css/#grid-offsetting -->
		<div class="col-sm-offset-6 col-sm-4 text-bigly text-left">
			<div class="row">
				<p>Planning your household</p>
			</div>
			<div class="row">
				<p>Made easy</p>
			</div>
		</div>
	</div>
	</div>
	<div class="text-center box-model-signin">
		<form class="form-signin login">
			<!-- if we want an icon we'd uncomment this -->
			<!-- <img class="mb-4" src="https://www.flaticon.com/premium-icon/icons/svg/1734/1734167.svg" alt width="72"
				height="72"> -->
			<label for="inputEmail" class="sr-only">Email address</label>
			<h1 class="h3 mb-3 font-weight-normal">Please Sign In</h1>
			<div class="vertical-input-group">
				<div class="form-group">
					<label for="exampleInputEmail1" class="sr-only">Email address</label>
					<input type="email" class="form-control input-lg" id="email-input" placeholder="Email address"
						required autofocus />
				</div>
				<div class="form-group">
					<label for="inputPassword" class="sr-only">Password</label>
					<input type="password" class="form-control input-lg" id="password-input" placeholder="Password"
						required />
				</div>
			</div>
			<button type="submit" class="btn btn-lg btn-red-custom btn-block">Sign in</button>
		</form>
		<br />
		<p>Or sign up <a href="/">here</a></p>
	</div>
	</div>


	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="../js/login.js"></script>
</body>

</html>