<body>
	<nav class="navbar navbar-dark bg-dark">
		<div class="container-fluid">
			<div class="navbar-header float-right">
				<a class="navbar-brand" href="/logout"> Logout </a>
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-offset-3">
				<h2>Welcome <span class="member-name"></span></h2>
			</div>
		</div>
	</div>
	<!-- Button trigger modal -->
	<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
		Launch to add a user!
	</button>

	<!-- Modal -->
	<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Add A User</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="container">
						<div class="CRUD-user-dashboard">
							<h2>Users - Add or Remove <i class="fas fa-arrow-down"></i></h2>
							<form id="cms">
								<div class="form-group">
									<label for="chore-name-title">Add a user:</label>
									<input type="text" class="form-control" id="title">
									<br />
								</div>
								<h4>Added users:</h4>
								<ul class="list-group">
									<li class="list-group-item">Didier Drogba <button type="button"
											class="btn btn-outline-warning">Delete</button>&nbsp;&nbsp;<button
											type="button" class="btn btn-outline-secondary">Edit</button></li>
									<li class="list-group-item">Amelia Earhart <button type="button"
											class="btn btn-outline-warning">Delete</button>&nbsp;&nbsp;<button
											type="button" class="btn btn-outline-secondary">Edit</button></li>
									<li class="list-group-item">Frida Kahlo <button type="button"
											class="btn btn-outline-warning">Delete</button>&nbsp;&nbsp;<button
											type="button" class="btn btn-outline-secondary">Edit</button></li>
								</ul>
							</form>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Submit</button>
				</div>
			</div>
		</div>
	</div>
	{{!-- start of code --}}
	<div class="container">
		<div class="CRUD-chores-dashboard">
			<!-- maybe drop down menu so it doesnt get too cluttered? Make font awesome icon clickable for expand/minimise -->
			<h2>Chores - Add or Remove <i class="fas fa-arrow-down"></i></h2>
			<form id="cms">
				<div class="form-group">
					<label for="chore-name-title">Add a chore:</label>
					<input type="text" class="form-control" id="title">
					<div class="row">
						<div class="form-group">
							<label for="category">Select who is assigned this task:</label>
							<select class="custom-select" id="category">
								<option value="name1">Didier Drogba</option>
								<option value="name2">Amelia Earhart</option>
								<option value="name3">Frida Kahlo</option>
							</select>
						</div>
					</div>
					<!-- Body Not Needed -->
					<!-- <br />
								<label for="body">Body:</label>
								<textarea class="form-control" rows="10" id="body"></textarea> -->
					<!-- start chores add section -->
					<div class="row">
						<h4>Choose what days to do this chore:</h4>
						<div class="form-group">
							<input type="checkbox" name="day1" value="week-interval"> Monday
							<input type="checkbox" name="day2" value="week-interval"> Tuesday
							<input type="checkbox" name="day3" value="week-interval" checked> Wednesday
							<input type="checkbox" name="day4" value="week-interval"> Thursday
							<input type="checkbox" name="day5" value="week-interval"> Friday
							<input type="checkbox" name="day6" value="week-interval" checked> Saturday
							<input type="checkbox" name="day7" value="week-interval"> Sunday
						</div>
						<br />
						<button type="submit" class="btn btn-success submit btn-lg">Submit</button>
					</div>
					<h4>Chores Added:</h4>
					<br>
					<div class="row">
						<div class="row">
							<div class="col-sm-3">
								<p id="what-is-chore">Walk the dog</p>
							</div>
							<div class="col-sm-3">
								<p id="who-does-chore-name">Frida Kahlo</p>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-8">
								<!-- refuse input till "edit pressed" think there is an html way to do this -->
								<div class="form-group">
									<input type="checkbox" name="day1" value="week-interval"> Monday
									<input type="checkbox" name="day2" value="week-interval"> Tuesday
									<input type="checkbox" name="day3" value="week-interval" checked> Wednesday
									<input type="checkbox" name="day4" value="week-interval"> Thursday
									<input type="checkbox" name="day5" value="week-interval"> Friday
									<input type="checkbox" name="day6" value="week-interval" checked> Saturday
									<input type="checkbox" name="day7" value="week-interval"> Sunday
								</div>
							</div>
							<div class="col-sm-4">
								<button class="btn btn-outline-secondary">Edit</button>
								<button class="btn btn-outline-secondary">Confirm</button>
							</div>
						</div>
					</div>
					<!-- end chores add section -->




			</form>

		</div>
	</div>



	<div class="container">
		<h2>Chore Planner</h2>

		<table>
			<tr>
				<th scope="col">Chores</th>
				<th scope="col">House Member Assigned</th>
				<th scope="col">Chore Details</th>
			</tr>
			<tr>
				<th scope="row">chore 1</th>
				<td>Alfreds Futterkiste</td>

			</tr>
			<tr>
				<th scope="row">chore 2</th>
				<td>Centro comercial Moctezuma</td>
			</tr>
			<tr>
				<th scope="row">chore 3</th>
				<td>Ernst Handel</td>
			</tr>
			<tr>
				<th scope="row">chore 4</th>
				<td>Island Trading</td>
			</tr>
			<tr>
				<th scope="row">chore 5</th>
				<td>Laughing Bacchus Winecellars</td>
			</tr>
			<tr>
				<th scope="row">chore 6</th>
				<td>Magazzini Alimentari Riuniti</td>
			</tr>
		</table>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="../js/members.js"></script>
</body>