<div class="big-parent tinted-image">
	{{>nav-bar}}
	<div class="d-flex justify-content-center form_container">
		<form class="form-signin signup">
			<h2 class="d-flex justify-content-center form-header">Sign Up</h2>
			{{!-- Household Name Start --}}
			<div class="input-group mb-3">
				<span class="input-group-text home-padding"><i class="fas fa-home icon"></i></span>
				<label for="exampleInputEmail1" class="sr-only">Household Name</label>
				<input type="userName" id="house-input" class="form-control input_user" placeholder="Household Name" 
					required autofocus />
			</div>
			<div class="input-group mb-3">
				<span class="input-group-text"><i class="fas fa-user icon"></i></span>
				<label for="exampleInputEmail1" class="sr-only">Email address</label>
				<input type="email" id="email-input" class="form-control input_user" placeholder="email" 
					required />
			</div>
			<div class="input-group mb-2">
				<span class="input-group-text password-padding"><i class="fas fa-key icon"></i></span>
				<label for="inputPassword" class="sr-only">Password</label>
				<input type="password" id="password-input" class="form-control input_pass" placeholder="password"
					required />
			</div>
			{{!-- alert start --}}
			<div id="alert" class="alert alert-danger alert_container" role="alert">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				<span class="sr-only">Error:</span> <span class="msg"></span>
			</div>
			{{!-- alert end --}}
			<div class="d-flex justify-content-center mt-3 signup_container">
				<button type="submit" name="button" class="btn form_btn">Signup</button>
			</div>
			<a class="d-flex justify-content-center signup-text-link" href="/">or login here</a>
		</form>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="../js/signup.js"></script>
</div>