@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

html {
	margin: 0;
	padding: 0;
	height: 100vh;
	}
.big-parent {
    font-family: 'Bangers', sans-serif;
	font-size: 17.5px;
	background-position: center;
	height: 100vh;
	text-transform: uppercase;
}

.tinted-image {
	/* background large */
	background-attachment: fixed;
	
	/* tinting: can change to any color */
	/* credit to https://css-tricks.com/tinted-images-multiple-backgrounds/ */
	background-image: linear-gradient(
	rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)	),
	url("/img/MarvelPrint-01.png");

	/* img manipulation stretch to page */
	background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
	background-color: #2b4656;
}

.navbar {
	width: 100%;
}

/* login/Signup CSS start here */

.form_container {
	margin-top: 400px;
}
.form_btn {
	width: 100%;
	background: #c0392b !important;
	color: white !important;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	letter-spacing: .07rem;
}
.form_btn:hover {
	box-shadow: 0px 0px 0px 2.5px white inset, 0px 0px 0px 5px darkred;
}
.signup_container,
.login_container {
	padding: 0 2rem;
}
.input-group-text {
	background: #c0392b !important;
	height: 38px;
	color: white !important;
	border: 0 !important;
	border-radius: 0.25rem 0 0 0.25rem !important;
}
.home-padding {
	padding-right: 10px;
	padding-left: 10px;
}
.password-padding {
	padding-right: 11px;
	padding-left: 11px;
}
.input_user,
.input_pass:focus {
	box-shadow: none !important;
	outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
	background-color: #c0392b !important;
}
.signup-text-link {
	color: white;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
	margin-top: 8px;
}
.form-header {
	color: white;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.alert_container {
	display: none
}

form.signup,
form.login {
	position: absolute;
	margin-top: 55px;
}

.fa-key,
.fa-user {
	padding-top: 11;
	padding-bottom: 11;
}

.form-control {
	display: block;
	width: 100%;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s;
}
.form-signin {
	backdrop-filter: blur(8px);
	border: 3px solid #f1f1f1;
	padding-top: 15px;
	padding-right: 18px;
	padding-bottom: 15px;
	padding-left: 18px;
}

.form-signin input[type="userName"] {
	margin-bottom: -1;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

/* Start Tables/Members CSS  */

.chore-title {
	font-family: 'Bangers', cursive;
	text-align: center;
	font-size: 75px;
	font-weight: 660;
	color: rgb(24, 39, 48);
	letter-spacing: .05em;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	margin-bottom: 30px !important;
}
.column-titles {
	font-weight: bold;
	margin-top: 4px;
}

.background-main {
	background-image: url("/img/ironMan.jpg");	
	background-position:initial;	
	background-size: 1300px;	
}
#background-tint{	
	background-color: rgba(255, 255, 255,.5);	
	background-blend-mode: multiply;	
} 
.btn-dark:hover {
	background-color: grey;
}