@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
/* comic book font below */
@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');

html {
	margin: 0;
	padding: 0;
	height: 100vh;
	background: rgb(99, 79, 80) !important;
	}
.big-parent {
    font-family: 'Bangers', sans-serif;
	font-size: 17.5px;
	background-position: center;
	height: 100vh;
	text-transform: uppercase;
}

.tinted-image {
	/* background large */
	background-attachment: fixed;
	
	/* tinting: can change to any color */
	/* credit to https://css-tricks.com/tinted-images-multiple-backgrounds/ */
	background-image: linear-gradient(
	rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)	),
	url("/img/MarvelPrint-01.png");

	/* img manipulation stretch to page */
	background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
	background-color: #2b4656;

}

.navbar {
	width: 100%;
}

/* login CSS start here */

.form_container {
	margin-top: 275px;
}
.signup_btn,
.login_btn {
	width: 100%;
	background: #c0392b !important;
	color: white !important;
}
.signup_btn
.login_btn:focus {
	box-shadow: none !important;
	outline: 0px !important;
}
.signup_container,
.login_container {
	padding: 0 2rem;
}
.input-group-text {
	background: #c0392b !important;
	height: 38px;
	color: white !important;
	border: 0 !important;
	border-radius: 0.25rem 0 0 0.25rem !important;

}
.input_user,
.input_pass:focus {
	box-shadow: none !important;
	outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
	background-color: #c0392b !important;
}
.signup-text-link {
	color: white;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
	position: relative;
	left: -33%;
	float: right;
	width: auto;
	margin-top: 8px;
}

/* manipulate container box-model here */
div.container-tint-box {
background: rgba(11, 224, 1, 0.3);
border: none;
}
/* 
#email-input {
	margin-bottom: 0px;
}

#password-input {
	margin-top: 0;
} */

form.signup,
form.login {
	margin-top: 50px;
}

.fa-key,
.fa-user {
	padding-top: 11;
	padding-bottom: 11;
}

#email-input {
	line-height: 1.5;
}
div.vertical-input-group {
	line-height: 1.5;
	margin-bottom: 15px;
}
.form-control {
	display: block;
	width: 100%;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s;
}
.form-signin {
	backdrop-filter: blur(8px);
	border: 3px solid #f1f1f1;
	padding-top: 25px;
	padding-right: 18px;
	padding-bottom: 15px;
	padding-left: 18px;
}

.form-signin input[type="email"] {
	margin-bottom: -1;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.btn-red-custom {
	font-size: 1.5rem;
	line-height: 1.5;
}

div.box-sizing-inherit {
	display: flex;
	justify-content: center;
	align-items: center;

}

button.btn-red-custom:hover {
	color: #fff;
	background-color: #9f0013;
	/* border-color: #e62429 transparent; */
    opacity: 1;
}

button.btn-red-custom {
	color: #fff;
	background-color: #e62429;
    /* border-color: #e62429; */
    transition: none;
    transition-property: none;
    transition-duration: 0s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

/* .fa-key,
.fa-user {

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
} */

/* Start Tables/Members CSS  */

.choreTitle{
	font-family: 'Bangers', cursive;
	text-align: center;
	font-size: 65px;
	color: rgb(123, 49, 30);
}
.columnTitles{
	font-weight: bold;
}